@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <h4>GP Dashboard</h4>
}else if (Request.IsAuthenticated && User.IsInRole("Member"))
{
    <h4>@ViewBag.Church</h4>
}else
{
    <h4>God's Prosperity</h4>
}
