@{
    ViewBag.Title = "About";
}
<h3>About Us</h3>
<div>
    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Founder</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-3">
                    <img src="~/imgRepo/photo.jpg" class="img-responsive img-thumbnail" />
                </div>
                <div class="col-md-9" style="font-size: 20px;">
                    <p style="margin-top:20px;"><strong>Name : </strong> Rish Sundraj</p>
                    <p><strong>Location : </strong> Durban Area (South Africa)</p>
                </div>
            </div>
        </div>
    </div>
    
<div class="col-md-12">
    <p>
        God's Prosperity is a magazine about miracles and christian living.
        <strong>What We do: </strong>
        <ul>
            <li>We relate stories of hope and good news</li>
            <li>We act as a catalyst for Christians to unite and speak as one</li>
            <li>We are not affiliated to any church, organization or denomination but are a broad based Christian magazine</li>
            <li>We seek to relate miracles that have been experienced by our members</li>
            <li>We provide a platform for Christians to thank God for their prosperity in life</li>
            <li>We plan to start and operate one of the largest feeding scheme in Durban</li>
            <li>
                We welcome all Christian businesses to list in <strong>Kingdom</strong> our Christian Business directory <strong>
                    (as an introductory offer we will provide free listings in our first edition subject to availability)
                </strong>
            </li>
            <li>We will list all Christian churches that distribute our publications for free in our church directory</li>
            <li>Our Magazine is free</li>
            <li>We are not currently an NGO but commit to utilising 20% of our profits to social upliftment projects.</li>
        </ul>
    </p>
</div>

</div>