@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <h3>Contact Us</h3>
    <h2>Our Office</h2>
    <iframe class="col-md-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14737.30643489424!2d31.0294181589018!3d-29.728721775536595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xfeb5406af1cf8aaf!2sSamsung+NAC!5e0!3m2!1sen!2sza!4v1454658249813" height="350" frameborder="0" style="border-radius:100px;" allowfullscreen></iframe>
</div>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<h2>Our Office</h2>
<iframe class="col-md-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14737.30643489424!2d31.0294181589018!3d-29.728721775536595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xfeb5406af1cf8aaf!2sSamsung+NAC!5e0!3m2!1sen!2sza!4v1454658249813" height="450" frameborder="0" style="border-radius:100px;" allowfullscreen></iframe>