@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h2>Welcome to God's Prosperity</h2>
        <p>
            <span style="font-size: 30px;">G</span>od's Prosperity is in the process of developing a
            ministry application for Christian churches to assist Pastors with Church Management and Communication.
        </p>
    </div>
    
    <div style="padding-top: 60px;" class="animated slideInLeft">
        <div class="col-md-3 col-md-offset-0"> 
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Events
                </div>
                <div class="panel-body">
                    <p>
                        This feature will allow the church pastor to create events for the church which will be visible to all church members.
                        The church members will also be able to add comments and views based on that event. 
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Groups
                </div>
                <div class="panel-body">
                    <p>
                        You have a team or discussion that should be open to specific members?
                        Then this is the feature to use. Create a group where only allowed members will be able to see and send messages!
                        This is simply a chatroom!
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    News
                </div>
                <div class="panel-body">
                    <p>
                        Want to know whats happening within your church? 
                        News will provide you with feeds from you church, from events to updates, all will be listed and available to you.
                        This is simply a chatroom!
                    </p>
                </div>
            </div>
        </div>
        <br />
        <p class="col-md-12 alert alert-warning"><strong>Note! </strong> To use these featues you have to register or login.</p>
    </div>
</div>