
@{
    ViewBag.Title = "Info";
}

<div class="panel panel-info animated bounceIn">
    <div class="panel-heading">
        <h4>Great news!</h4>
    </div>
    <div class="panel-body">
        <p>
            A church request has been sent!<br/>
            We will let you know when your church has been added to the system. <br />
            In order for a church to be added in our system, an agreement should be signed by your church Pastor and in seconds,  your church will be available in our system.
            <br /><br />
            <span style="padding-top: 300px;">
                <strong>Regards</strong><br />
                God's Prosperity Team
            </span>
        </p>
    </div>
</div>


