@model GPSystem.Models.ChurchMembersView
@{
    ViewBag.Title = "Index";
}
<div>
    <div class="col-md-6">
        <h2>Members</h2>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
            {
                foreach (var member in Model.ChurchMembers)
                {
                        <tr>
                            <td>@member.Name &nbsp; @member.Surname</td>
                            <td>@member.UserName</td>
                            <td>
                                <button class="btn" onclick='getUserInfo("@member.Id")' style="margin-left: 9px; border-radius: 100px; padding: 4px 7px;" data-toggle="tooltip" title="Profile" id="profile">View Details<span class="glyphicon glyphicon-user"></span></button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-6" id="Area" style="margin-top: 30px">
        <img id="holder" src="~/imgRepo/user.png" class="img-circle img-responsive animated pulse center-block" style="width: 140px; margin-top: 60px" />
    </div>
</div>

<!-- chemical -->
<script>
    function getUserInfo(Id) {
        var url = "/Member/GetMember";
        $.post(url, { Id: Id }, function (data) {
            if (data.length > 0) {
                var member = data[0];

                if(member.Phone ==null){
                    member.Phone = "Ask " + member.Name + " to add a number";
                }
                var info = "<div class='col-md-12 animated flipInY' id='info'><div class='panel panel-primary'><div class='panel-heading'>Member Details"
                    + "<a href='' style='float: right;'><span class='glyphicon glyphicon-remove'></span></a>"
                    +"</div><div class='panel-body'>";
                info += "<p class='infoRow'><span class='Subject col-md-4'>Name </span>: <span class='rowData'>" + member.Name + "</span></p>";
                info += "<p class='infoRow'><span class='Subject col-md-4'>Surname </span>: <span class='rowData'>" + member.Surname + "</span></p>";
                info += "<p class='infoRow'><span class='Subject col-md-4'>Gender </span>: <span class='rowData'>" + member.Gender + "</span></p>";
                info += "<p class='infoRow'><span class='Subject col-md-4'>Email </span>: <span class='rowData'>" + member.mail + "</span></p>";
                info += "<p class='infoRow' style='border-bottom: none; margin-bottom: -12px;'><span class='Subject col-md-4'>Phone No. </span>: <span class='rowData'>" + member.Phone + "</span></p>";
                info += "</div></div></div></div>";
                $("#Area").html(info);
                $("#holder").hide();
            }
        })
    }
</script>
        
         